.nav {
  &__items {
    display: flex;
  }
  &__item {
    @extend %font_Prater-Serif_bold;
    @include font-size(40);
    &:hover {
      color: $main-color2;
      -webkit-text-stroke: $main-color1 2px;
      -webkit-text-fill-color: $main-color2;
    }
  }
  &__item + &__item {
    padding-left: 40px;
  }
  &__link {
    &:visited {
      -webkit-text-stroke: $main-color1 2px;
    }
  }
}
